mixin navigation

  +b('nav').navigation
    +e('ul').list
      each item in site.data.menu
        +e('li').item
          +e('a').link(href="#",title=item.name)
            +e('span').link-inner= item.name
          if (item.subMenu)
            +e('ul').sub-list
              if (item.subTitle)
                +e('li').sub-item
                  +e('b').sub-title= item.subTitle
              each val in item.subMenu
                if (val.promo)
                  +e('li').sub-item
                    +e('b').sub-title= val.promo
                else
                  +e('li').sub-item
                    +e('a').sub-link(href=val.link,title=val.name)= val.name