mixin navigation

  nav.navigation
    ul.navigation__list
      each item in site.data.menu
        li.navigation__item
          a.navigation__link(href="#",title=item.name)
            span.navigation__link-inner= item.name
          if (item.subList)
            ul.navigation__sub-list
              each val in item.subList
                li.navigation__sub-item
                  if (val.subTitle)
                    b.navigation__sub-title= val.subTitle
                  if (val.subName)
                    a.navigation__sub-link(href="#",title=val.subName)= val.subName