mixin slider

  +b.slider
    +e.controls
      +e('label').toggle(for="toggle-1")
      +e('label').toggle(for="toggle-2")
      +e('label').toggle(for="toggle-3")

    +e.slides
      +e.slide.--n1
        +e('h2').title
          |Крем-брюле и пломбир<br>
          |с малиновым джемом
        +e.btn
          +b('a').btn.--slide(href="#" title="Дайте оба!") Давайте оба!

      +e.slide.--n2
        +e('h2').title
          |Шоколадный пломбир<br>
          |и лимонный сорбет
        +e.btn
          +b('a').btn.--slide(href="#" title="Дайте оба!") Давайте оба!

      +e.slide.--n3
        +e('h2').title
          |Пломбир с помадкой<br>
          |и клубничный щербет
        +e.btn
          +b('a').btn.--slide(href="#" title="Дайте оба!") Давайте оба!